*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Rubik';
    scroll-behavior: smooth;
    color: white;
    
    
}
body{
    color: white;
    background: black; 
}
body::-webkit-scrollbar{
  background: transparent;
}
body::-webkit-scrollbar-thumb{
  background:linear-gradient(rgb(232, 97, 7),white,green);
  border-radius: 50px;
 
}
.header{
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    padding:10px 10%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index:100;
 margin-top: 10px;

}
.logo::first-letter{
    color: hsl(345deg 100% 47%);
    font-size: 50px;
   
}
.logo{
    /* position: relative; */
    
    font-size: 35px;;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;
    opacity: 0;
    animation: slideTop 1s ease forwards;

}
.navbar a:hover{
 
   /* background-color:#673ab7;;
    border: 1px;
    border-radius: 5px;  */
    text-decoration: underline;
    color: #ffbc00;

   
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.homecontent{
    max-width: 600px;
}
.homecontent h3{
    font-size: 32px;
    font-weight: 700;
}

.homecontent h1{
    font-size: 56px;
    font-family:'Bungee outline';
    background: linear-gradient(to right,hsl(345deg 100% 47%) 0%,#0788FF 45%, #9900FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    /* margin-top: -40px;
    margin-bottom: -40px; */

}
.homecontent p{
    font-size: 20px;

}
.homesci a{
    display: inline-flex;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    font-size: 20px;
    background: transparent;
    /* border: 2px solid #0ef; */
    box-shadow: 6px 6px 10px rgba(145, 174, 192, .4), -6px -6px 10px black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    animation: slideRight 1.6s ease-in-out;
}
.homesci a:hover{
    background: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}
.morebtn{
    display: inline-block;
    text-decoration: none;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 12px 28px;
    animation: slideLeft 1s ease;
    transition: .3s;
}
.morebtn:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,
    0 0 50px cyan,0 0 100px cyan,0 0 20px cyan;
}

.homecontent h3 span{
    color: yellow;
}
.homecontent h3{

    animation: slideRight 1.4s ;
}
.homecontent h1{
  /* transition: .5s; */
  animation: slideRight 1.6s ;
}
.homecontent p{

  animation: slideRight 1.8s ;
}
.about img{
    height:150px;
    border-radius: 50%;
    
}
.about{
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
    align-items: center;

    gap:1.5rem;
    
}
.abtimg img{
    height: 250px;
    margin-left: 115px;
   max-width: 230px;
   border-radius: 10px;
   border: 2px solid cyan;
   margin-top: 10px;
   box-shadow: -5px -3px 7px cyan;
  
}

.abttext h2{
    font-size: 52px;
}
.abttext h2 span{
    color: hsl(345deg 100% 47%);
}
.abttext p{
    font-size: 20px;
    transition: .6s;
    animation: slideLeft .4s ease backwards;
}
hr{
    width: 120px;
    height: 5px;
    border-radius: 3px;
    background: linear-gradient(to right, purple 0%, red 100%);
    
}
.box2{
  position: absolute;
  padding:10px;
  border-radius: 8px;
}

.homephoto img{
  height: 370px;
  position: absolute;
  right: 150px;
  top: 209px;
  animation:updown 3s ease-in-out infinite;
  
}
svg{
  height: 500px;
}
@keyframes updown{
    
    50%{
        transform: translateY(-7px);
    }
   0%, 100%{
        transform: translateY(7px);
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    } 
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(200px);
        opacity: 0;
    } 
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.education{
    display: flex;
    justify-content: center;
    gap:5rem;
    margin-top: 150px;
    margin-bottom: 130px;
    background-color: cyan;
}

.plus2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 310px;
    border-radius: 10px;
    box-shadow: 0 0 20px blue;
    padding: 30px;
    font-size: 25px;
    
}



.myed{
    display: flex;
    position: relative;
    gap:2rem;
    top:100px;
    left:100px;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
    
}
.myed h2{
    font-size: 52px;
    width: 800px;
  
}
.myed h2 span{
    color: hsl(345deg 100% 47%);
}
.myed img{
    height: 100px;
    border: 2px solid cyan;
    border-radius: 50%;
    padding: 2px;
}

.myskill img{
    height: 100px;
    border: 2px solid cyan;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
   
}
.myskill{
    display: flex;
    gap:2rem;
    top:100px;
    left:100px;
    max-width: 550px;
    justify-content: center;
    align-items: center;
   
   
}
.myskill h2{
    font-size: 52px;
}
.myskill h2 span{
    color: hsl(345deg 100% 47%);
}




.reveal{
    position:relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }







  
  
  .container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  
  .container .box
  {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
  }
 
  






  
  .container .box::before
  {
    content:' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
  }
  
  .container .box::after
  {
    content:'';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
  }
  
  .container .box:hover:before,
  .container .box:hover:after
  {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
    
  }
  
  .container .box:nth-child(1):before,
  .container .box:nth-child(1):after
  {
    background: linear-gradient(315deg, #ffbc00, #ff0058)
  }
  
  .container .box:nth-child(2):before,
  .container .box:nth-child(2):after
  {
    background: linear-gradient(315deg, #03a9f4, #ff0058)
  }
  
  .container .box:nth-child(3):before,
  .container .box:nth-child(3):after
  {
    background: linear-gradient(315deg, #4dff03, #00d0ff)
  }
  
  .container .box span
  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
  }
  
  .container .box span::before
  {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;  
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
  }
  
  .container .box:hover span::before
  {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  .container .box span::after
  {
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -1s;
  }
  
  .container .box:hover span:after
  {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  @keyframes animate
  {
    0%, 100%
    {
      transform: translateY(10px);
    }
    
    50%
    {
      transform: translate(-10px);
    }
  }
  
  .container .box .content
  {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
  }
  
  .container .box:hover .content
  {
    left: -25px;
    padding: 60px 40px;
  }
  
  .container .box .content h2
  {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .container .box .content p
  {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
  
  .container .box .content a
  {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .container .box .content a:hover
  {
    background: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
  }
  .mycontent{
    position: absolute;
  }

.footer{
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 76px;
  background-color: #673ab7;
  gap: .1rem;
  
}
.footercontent p{
  font-weight: 700;
}
#more{
  background-color: #673ab7;
  border: none;
  border-radius: 4px;
  height: 30px;
  padding: 5px;
  width: 90px;
  text-align: center;
  display: none;
  text-decoration: none;
}

@media only screen and (max-width:412px) {
 .about{
  display: flex;
  flex-direction: column;
  left: 12%;
  width: 170%;
  border-radius: 20px;
  
 }

 .abtimg img{
  margin-left: -80px;
  height: 300px;
  width: 1200px;
  object-fit: cover;
 }
 .homephoto img{
  position: relative;
  right: -20px;
  top: -10px;
 }
/* .box{
  align-items: center;
  position: relative;
  left: 220px;
  scale:1.6;
 top: 190px;
} */
.container{
  margin-top: 300px;
  margin-left: 140px;
  width: 500px;
  scale: 1.2;
}


.navbar{
  display: flex;
  flex-direction: column;
  top:80px;
  display: none;
}
/* .logo{
  scale: 1.5;
} */
 .footer{
  width: 751px;
 }
 .contact{
  margin-top: 70px;
  width: 749px;
 }
 .conimage img{
  height: 400px !important;
}
.skills{
  /* border: 3px solid red; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  width:700px !important;
  margin-left: -35px;
  height: 800px !important;

}
#more{
  display: block;
}


}


.skills{
position: relative;
left: 75px;
width: 90%;
top: 45px;
 display: flex;
 flex-direction: row;
 height: 600px;
 overflow: hidden;

}
.sbox{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px,10px;
 
}
.skills .box{
  flex-direction: column;
  height: 200px;
  width: 180px;
  border: 1px solid;
  border-color: purple red yellow coral;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 5px;
  margin: 20px;
  border-radius: 8px;
  flex-wrap:wrap;
  padding: 10px;
  filter:grayscale(0%);
}
.skills img{
  height: 100px;
}
.skills .box:hover{
  filter:grayscale(100%);
  transition: 1s ease-in-out;
  cursor: pointer;
}
.contact{
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
 
}
.conimage img{
  height: 500px;
}
.cform{
 
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  /* border: 1px solid purple; */
  height: 400px;
  width: auto;
  justify-content: space-around;
  padding:0px;
  gap: .6rem;
  align-items: center;
 
}

.cform input,textarea{
  border:2px solid purple;
  border-radius: 30px;
  color: black;
  font-size: 20px;
  padding: 20px;
  box-shadow: -3px 5px 3px rgb(188, 186, 186);
  
}
.cform input{
  height: 40px;
}
.cform h2{
  color: purple;
}
.cform button{
 
  background-color: green;
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 150px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.cform button:hover{
  box-shadow: 0 0 20px green;
  scale: 1.1;
  transition: .5s;
  word-spacing: 20px;
  cursor: pointer;
}


.morebtn i{
  color:black;
}
strong{
  color: yellow;
}



